img.branding{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.navLinks{
    text-align: center;
    margin: 15px;
}

h3{
    text-align: center;
}

div.devInfo{
    margin: 5px;
    padding: 25px;
    background-color: #5c5c5c;
    border: 1px black solid;
}



img.devPortrait{
    border: 1px solid black;
    margin: 5px;
}

div.devContent{
    display:block;
}

p.devContent{
    margin: 25px;
}

a.notificationButton{
    display: block;
}

h4{
    font-style: italic;
}