{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/dungeonhelper2"
    }
  },
   "cloudant": {
      "db": "https://ichicheysolucheredidedsh:5Piy3trEXINNFIEO15Jj48WL@nathanbfs.cloudant.com/dungeonhelper2"
    }
}
