{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/dungeonhelper"
    }
  },
   "cloudant": {
      "db": "https://fereselsomeventsinkstand:nnCK61kdGtcB5JOtmdQNrIxg@nathanbfs.cloudant.com/dungeonhelper"
    }
}